* {
    margin: 0;
    padding: 0;
}

html, body, #app, .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "PingFang SC", "Microsoft YaHei UI", "Avenir", Helvetica, Arial, sans-serif;
    background-size: cover;
}

#app {
    font-size: 12px;
}

a {
    text-decoration: none
}

.content {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 260px;
    right: 0;
    top: 74px;
    bottom: 0;
    width: auto;
    padding-right: 0px;
    box-sizing: border-box;
    overflow-y: auto;
}

.crumbs {
    margin-bottom: 20px;
}

.pagination {
    margin: 20px 0;
    text-align: right;
    width: auto;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active, .move-leave-active {
    transition: opacity .5s;
}

.move-enter, .move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after, .el-time-panel__content::before {
    margin-top: -7px;
}

/*Readme*/

.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label {
    color: #333;
    cursor: pointer;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    /*background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;*/
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload-list__item:first-child {
    margin-top: 2px !important;
}

.upload-wrap .el-upload {
    text-align: left;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: left;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*============
    OrgStructure.vue
=================*/

.list {
    display: block;
    min-width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 10px;
    line-height: 50px;
    position: relative;
    left: 0;
    text-align: center;
    background-image: url("../img/bgOrg.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
    cursor: pointer;
    margin: 0 auto;
}

.row:nth-of-type(1) .list:nth-of-type(1):before {
    width: 0px;
    height: 0px;
}

.list:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 20px;
    background: #000;
    top: -20px;
    left: 25px;
}

.show {
    display: block;
}

.el-button--mini, .el-button--mini.is-round {
    padding: 7px 15px;
}

.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-bottom: 25px;
}

.el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
    line-height: 30px !important;
}

.el-input--mini .el-input__inner {
    line-height: 28px;
    height: 31px;
}

/*面包屑导航栏*/

.el-breadcrumb .el-breadcrumb {
    font-size: 12px;
    line-height: 1;
}

.el-breadcrumb .el-breadcrumb__inner, .el-breadcrumb__inner a {
    color: #061631;
}

.el-breadcrumb .el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    font-weight: 400;
    color: #061631;
    cursor: text;
    font-weight: bold;
}

/*筛选栏*/

.screen .el-input {
    width: 200px;
}

.el-input-group__append {
    border-radius: 0px;
}

.el-input-group__prepend {
    border-radius: 0px;
}

.el-button+.el-button {
    margin-left: 0px;
}

/* 日期 */

.el-range-editor--mini.el-input__inner {
    height: 31px;
}

/* tabel */

.table {
    padding: 20px 0px 0px 20px;
}

.table2 {
    padding: 10px 0px 0px 0px;
}

.el-table .cell {
    text-align: center;
}

.el-table__footer-wrapper, .el-table__header-wrapper {
    background: #fafafa;
}

/**/

.class-mag .el-step__icon {
    width: 18px;
    height: 18px;
}

.class-mag .el-step__title {
    font-size: 14px;
}

/****************************
** 覆盖系统样式
***********************************/

/* input */

.el-input__inner {
    /* border-radius: 0px !important; */
}

.el-textarea__inner {
    /* border-radius: 0px !important; */
}

/* button */

.el-button--mini, .el-button--small {
    /* border-radius: 0px !important; */
}

/* .el-scrollbar {
    min-width: 180px;
}
 */

.el-step__main {
    margin-left: -20px;
}

.el-tag {
    border-radius: 0;
    background: #f7f7f7;
    border: 0;
}

/* select styles */

.el-input__prefix, .el-input__suffix {
    color: #419dfd;
}

.el-select .el-input .el-select__caret {
    color: #419dfd;
}

.class-query .el-input-group__append {
    color: #419dfd;
}

.el-date-editor .el-range-separator {
    color: #419dfd;
}

/* table styles*/

.el-button--mini, .el-button--small {
    font-size: 14px;
}

.el-table--mini td, .el-table--mini th {
    padding: 4px 0;
}

.el-table td, .el-table th.is-leaf {
    border: 0;
}

.el-table--mini, .el-table--small, .el-table__expand-icon {
    font-size: 14px;
}

.el-table th {
    padding: 10px 0 11px 0;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    background: #fafafa;
}

.mbg10 {
    margin-bottom: 10px;
}

/* 选项卡 */

.el-tabs__item {
    font-size: 16px;
}

/* 分页 */

.pagination .el-input__inner {
    height: 30px;
}

.pagination .el-input__icon {
    line-height: 30px;
}
